html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, #0f0c29, #302663, #24243e);
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #24243e;
    font-weight: bold;
}

video {
    margin-bottom: 20px;
}
